#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/************ Input Container css ************/

.inputContainer div{
  display: flex;
  margin-bottom: 2rem;
}

.inputContainer input{
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 0.75rem;
}

.inputContainer button{
  height: 3rem;
  text-transform: uppercase;
}

/************ Result Container css ************/

.result{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.result p{
  color: tomato;
}

.result button{
  height: 2.5rem;
  font-size: 0.85rem;
}