#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.inputContainer div{
  display: flex;
  margin-bottom: 2rem;
}

.inputContainer input{
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 0.75rem;
}

.inputContainer button{
  height: 3rem;
  text-transform: uppercase;
}